@import "../../assets/variables";

.about-header {
  font-size: 60px;
  font-weight: 300;
  margin: 0 0 15px;

  svg {
    margin-left: 5px;
    height: 49px;
    position: relative;
    top: 8px;
    fill: $primary-color;
  }
}
