<app-header></app-header>

<div id="mainWrapper">
  <div id="mainContent"
       [@routerEnterAnimation]="outlet.activatedRouteData.animation || null"
       (@routerEnterAnimation.done)="routerEnterAnimationDone()"
       [@routerLeaveAnimation]="outlet.activatedRouteData.animation || null"
       (@routerLeaveAnimation.start)="routerLeaveAnimationStart()" (@routerLeaveAnimation.done)="routerLeaveAnimationDone()"
  >
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
  <footer [class.animating-page-transition]="isRouterAnimating">
    <span>Powered by Eugen Sacharow @ 2017</span>
    <a (click)="logout()" *ngIf="authService.isLoggedIn()">Logout</a>
  </footer>
</div>


<app-notification></app-notification>
