:host {
  position: fixed;
  top: 80px;
  right: 20px;
  width: 360px;
  z-index: 2100;
  transition: all 0.2s ease;
}

:host.is-clean-layout {
  transform: translateY(-60px);
}

.notification {
  background: #20252b;
  color: #fff;
  border-radius: 2px;
  overflow: hidden;
  line-height: 1.3;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
  margin-bottom: 10px;
}

.close-by-click {
  cursor: pointer;
}

.notification > p {
  padding: 10px 12px 9px;
  margin: 0;
}

.notification-success {
  background: #4caf50;
}

.notification-warning {
  background: #ff9800;
}

.notification-danger {
  background: #f44336;
}

@media (max-width: 400px) {
  .notifications-container {
    top: 0;
    right: 0;
    left: 0;
    width: auto;
  }
  .notification {
    border-radius: 0;
  }
}
