*, *:before, *:after {
  box-sizing: border-box; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background: #f2f2f2;
  margin: 0; }

.ng-trigger-routerTransition {
  display: block; }

h1 {
  margin: 0 0 10px;
  font-size: 28px; }

h2 {
  margin: 10px 0;
  font-size: 20px;
  line-height: 1; }
  h2:first-child {
    margin-top: 0; }

h1 > small {
  font-weight: normal;
  color: #999;
  display: inline-block; }

#mainContent > * {
  display: block; }

p {
  margin: 0 0 10px;
  text-align: justify; }

.card {
  background: #fff;
  padding: 15px;
  position: relative; }

.shadow {
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.25s ease; }
  .shadow.shadow-hover:not(:disabled):hover {
    box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.22); }

.text-center {
  text-align: center; }

.text-primary {
  color: #00bc5e; }

a {
  color: #00a351;
  cursor: pointer; }
  a:hover {
    color: #00c663; }

.btn {
  padding: 6px 12px;
  line-height: 22px;
  background: #fff;
  font-size: 14px;
  color: #333;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.15s ease;
  display: inline-block;
  outline: none;
  text-decoration: none; }
  .btn:not(:disabled):hover, .btn:not(:disabled):focus, .btn:not(:disabled):active {
    background: #f9f9f9;
    border-color: #ddd; }
  .btn + .btn {
    margin-left: 10px; }
  .btn.btn-primary {
    background: #00bc5e;
    color: #fff;
    border-color: #00a351; }
  .btn.btn-primary:not(:disabled):hover, .btn.btn-primary:not(:disabled):focus, .btn.btn-primary:not(:disabled):active, .btn.btn-primary-hover:not(:disabled):hover, .btn.btn-primary-hover:not(:disabled):focus, .btn.btn-primary-hover:not(:disabled):active {
    background: #00cb66;
    color: #fff;
    border-color: #00bc5e; }
  .btn.btn-danger {
    background: #c7342b;
    color: #fff;
    border-color: #b22f26; }
  .btn.btn-danger:not(:disabled):hover, .btn.btn-danger:not(:disabled):focus, .btn.btn-danger:not(:disabled):active, .btn.btn-danger-hover:not(:disabled):hover, .btn.btn-danger-hover:not(:disabled):focus, .btn.btn-danger-hover:not(:disabled):active {
    background: #d2392f;
    color: #fff;
    border-color: #c7342b; }
  .btn:disabled {
    cursor: not-allowed;
    opacity: 0.75; }
  .btn.btn-block {
    width: 100%; }

.badge {
  padding: 3px 4px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 13px;
  line-height: 1;
  display: inline-block; }

.margin-top {
  margin-top: 15px; }

.form-group label {
  color: #727272; }
.form-group.has-error label {
  color: #e53935; }
.form-group.has-error .form-control {
  border-color: #ea8881;
  background: #fff0ef; }

.form-control {
  width: 100%;
  border-radius: 2.5px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 6px 9px;
  font-size: 14px;
  outline: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .form-control:focus {
    border-color: #00bc5e; }
  .form-control:disabled {
    background: #f4f4f4;
    color: #777;
    font-style: italic; }

figure {
  margin: 0; }

img {
  max-width: 100%; }

.fade {
  opacity: 0;
  will-change: opacity;
  transition: opacity 500ms ease; }
  .fade.lazyloaded {
    opacity: 1; }

/*# sourceMappingURL=style.css.map */
